
$color: #3f4b3e;

body {
  color: $color;
  font-family: "Source Sans Pro", "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
a{
  &:link,
  &:visited {
    color: $color;
    text-decoration: none;
  }
  &:hover {
    color: $color;
    text-decoration: underline;
  }
}
ul li {
  list-tyle-type: square;
}
nav {
  background-color: $color;
  top: 0;
  position: fixed;
  left: 0;
  z-index: 70;
  width: 100%;
  padding: 0 0 10px;;
  margin: 0;
  #menu{
    padding: 0;
    margin: 0;
    text-align:right;
    > li{
      display: inline-block;
      margin: 20px 40px 0 0;;
      font-size: 18px;
      &.active {
        text-decoration: underline;
      }
      a:link,
      a:visited {
        color: #fff;
      }
      a:hover {
        color: #fff;
      }
    }

  }

}

#section0 {

}
#section1 {
  h1 {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 1em;

  }
  .row {
    font-size: 16px;
    line-height: 1.5;
  }
  .th {
    text-align: right;
    @media screen and (max-width: 768px) {
      text-align: left;
    }
  }
  ul {
    margin: 0;
    padding-left: 20px;
  }
}
.slide1 {
  background-image: url(/images/capture_universal_paper.png);
  background-size: cover;
  background-position: center center;
}
.slide2 {
  background-image: url(/images/capture_konnyaku_park.png);
  background-size: cover;
  background-position: center center;
}

#section3 {
  text-align: center;
  h1 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  ul {
    display: table;
    width: 260px;
    margin: 0 auto;
    padding: 0;
    li {
      list-style-type: none;
      display: table-cell;
    }
  }
  span:before {
    font-size: 36px;
  }
}
